@charset "UTF-8";
/*index*/
/*reset*/
body {
  font-family: 'Roboto' sans-serif;
  margin: 1;
  padding: 1; }


#about h2 {
  color: blue;
  font-family: 'Roboto', sans-serif; }

#about div {
  color: blue; }

.parrafo-main {
  font-family: 'Roboto' , sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1;
  text-align: left; }

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px; }

.inline {
  display: inline-block;
  padding: 10px;
  margin: 10px; }

.img {
  width: 100%; }

section {
  margin: 20px 10px 5px 5px; }

.half {
  width: 300px; }

/*Fin de About en index*/
/*Inicio sección Como es el proceso en index*/
#section-2 h2 {
  color: blue; }

#section-2 h2 {
  font-family: 'Roboto', sans-serif; }

.parrafo-main {
  font-family: 'Roboto' , sans-serif;
  color: blue;
  font-size: 15px;
  font-weight: 100;
  line-height: 1;
  text-align: left;
  padding: 10px; }

.color-main {
  color: #f09b09;
  font-family: 'Roboto', sans-serif;
  text-align: center; }

.container {
  background-color: #d2dae9; }

.push-right {
  display: flex;
  margin-left: auto; }

.flex-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: stretch; }

.flex-container div {
  padding: 30px;
  margin: 20px; }

section {
  margin: 20px 20px 5px 5px; }

/*Fin Como es el proceso*/
/*Inicio Testimonios de clientes en index*/
#section-3 h3 {
  color: blue;
  font-family: 'Roboto', sans-serif; }

.flex-container {
  display: flex;
  justify-content: center; }

.flex-container contador {
  flex-direction: column;
  margin: 10px;
  padding: 10px; }

.flex-container h3 {
  flex-direction: column;
  margin: 10px;
  background-color: #fcfbfb;
  border-radius: 30px;
  padding: 10px; }

h3:hover {
  background-color: #f7a325; }

#section-3 img:hover {
  transform: scale(1, 1.5); }

h2 {
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: 20px; }

.main h6 {
  color: blue;
  font-family: 'Roboto', sans-serif; }

/*Fin Testimonios de clientes en index*/
/*Inicio estilo de sub menu html servicio*/
#navbar {
  display: flex;
  padding: 8px 16px;
  flex-direction: row;
  justify-content: center;
  width: 80vw;
  align-items: flex-start; }

#navbar #item {
  float: left; }

#navbar #item a {
  background-color: #ec9d0a;
  color: ivory;
  padding: 8px 16px;
  display: block;
  font-family: 'Roboto:wght@300' , sans-serif;
  font-size: 12px;
  text-decoration: none; }

/*Fin estilo de sub menu html servicio*/
/*Inicio estilo de sub menu html soluciones*/
.col-md-6 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.main-soluciones {
  background-color: #f9f9fc; }

/*Fin de estilo de sub menu html soluciones*/
/*Inicio estilo en section html salud*/
.main-servicios {
  background-color: #f9f9fc; }

/*Fin de estilo en section html salud*/
/*Fin de main*/
footer {
  width: auto;
  margin: auto;
  background: linear-gradient(to left, #f7a426, #fdfdfd);
  background-size: contain;
  font-family: 'Roboto', sans-serif; }

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas: "logo.contacto.social"; }

.footer-social {
  text-align: end;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2; }

.footer-contacto {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2; }

.footer h4 {
  color: blue;
  font-family: 'Roboto', sans-serif; }

.footer h6 {
  color: blue;
  font-family: 'Roboto', sans-serif; }

ul li {
  font-family: 'Roboto', sans-serif;
  color: blue;
  display: block; }

.half {
  width: 200px; }

.footer-logo {
  margin-left: 5px; }

.footer-logo img {
  width: 150px;
  margin-top: 5px; }

@media only screen and (min-width: 768px) {
  .flex-container {
    background-color: #fcfbfb;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch; }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to left, #f7a325, #fcfbfb);
    background-size: contain;
    font-family: 'Roboto', sans-serif; } }

@media only screen and (min-width: 1024px) {
  .flex-container {
    background-color: #fcfbfb;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: stretch; }
  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: linear-gradient(to left, #f7a325, #fcfbfb);
    background-size: contain;
    font-family: 'Roboto', sans-serif; } }
