footer {
    width: auto;
    margin:auto;
    background: linear-gradient(to left,hsl(36, 93%, 56%),rgb(253, 253, 253));
    background-size:contain;
    font-family:'Roboto', sans-serif;
}
.footer-container{
    display: grid;
    grid-template-columns:(1fr 1fr 1fr);
    grid-gap: 20px;
    grid-template-areas: 
    "logo.contacto.social";
    
}
.footer-social{
    text-align:end;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1 ;
    grid-row-end: 2 ;
    
} 
.footer-contacto{
    text-align:center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.footer h4 {
    color: blue;
    font-family:'Roboto', sans-serif;
}
.footer h6{
    color: blue;
    font-family:'Roboto', sans-serif;
}
ul li{
    font-family:'Roboto', sans-serif;
    color: blue;
    display: block;
}             
.half{
    width: 200px;
} 
.footer-logo {
    margin-left: 5px;
} 
.footer-logo img {
    width: 150px;
    margin-top: 5px;
}