/*index*/
/*reset*/
body {
    font-family: 'Roboto' sans-serif;
    margin: 1;
    padding: 1;
}

/*Inicio header*/
header{
    display: flex;
    width: 80%;
    margin: auto;
}  
.header {height: 10vh;
    background-color: hsl(36, 93%, 56%);
    background-size: contain ;}
.header-logo {
    margin-left: 5px;
} 
.header-logo img {
    width: 90px;
    margin-top: 5px;
}
.half{
    width:100px;display: inline-block;
}
 

