
/*Inicio estilo de sub menu html soluciones*/
.container {
width: 50%;
display: block;
margin-left: auto;
margin-right: auto;
}
.main-soluciones{
        background-color: rgb(249, 249, 252);
}
/*Fin de estilo de sub menu html soluciones*/

/*Inicio estilo en section html salud*/
.main-servicios{
        background-color: rgb(249, 249, 252);
}

/*Fin de estilo en section html salud*/

/*Fin de main*/
