//--Media querie para body
@media only screen and (max-width:1024px){
    header{
        flex-direction: column;
        width: 50px;
        margin: auto;
    }
    .header-logo img {
        width: 30px;
        margin-top: 5px;
    }
    
        
    .flex-container{
        background-color: rgb(252, 251, 251);
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .flex-container div{
        padding: 30px;
        margin: 20px;
    }    
    .col-md-6 {
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }      
    .footer-container{
        display: grid;
        grid-template-columns:(1fr 1fr 1fr);
        grid-gap: 20px;
        grid-template-areas: 
        "logo.contacto.social";
        background:linear-gradient(to left,#f7a325,rgb(252, 251, 251));
        background-size:contain;
        font-family:'Roboto', sans-serif;
    }
}
@media only screen and (max-width:768px){
    .flex-container{
        background-color:rgb(252, 251, 251 );
        padding:10px;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
    
    .col-md-6 {
        width: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }    
    .footer-container{
        display: grid;
        grid-template-columns:(1fr 1fr 1fr 1fr);
        grid-gap: 20px;
        background:linear-gradient(to left,#f7a325,rgb(252, 251, 251));
        background-size:contain;
        font-family:'Roboto', sans-serif;
    }
}